@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";

@use '@material/button/mdc-button';
@use '@material/button';

@include icon-button.core-styles;
@include button.core-styles;

:root {
    --mdc-theme-secondary: #6200ee
}

html {
    height: 100%
}

body {
    margin: 0;
    height: 100%
}

body main {
    height: calc(100% - 64px);
    display: flex
}

@media only screen and (max-width:600px) {
    body main {
        height: calc(100% - 56px)
    }
}

#topBarLogo {
    height: 65%;
    margin-left: 15px
}

@media (max-width:599px) {
    #topBarLogo {
        margin-left: 4px
    }
}

#leftMenu,
.contentMail {
    display: block
}

#leftMenu .mdc-list {
    width: 25em
}

#leftMenu {
    width: 25em;
    max-width: 100%;
    height: 100%;
    border-color: rgba(0,0,0,.12);
    border-right-width: 1px;
    border-right-style: solid
}

#leftMenu .emailList {
    width: 100%;
    height: calc(100% - 105px);
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden
}

.searchBar {
    width: 100%
}

.botTabBar {
    border-color: rgba(0,0,0,.12);
    border-top-width: 1px;
    border-top-style: solid
}

.contentMail {
    width: calc(100% - 25em);
    max-width: 100%;
    height: 100%;
    overflow-y: auto
}

.mdc-top-app-bar {
    position: unset;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15)
}

.mdc-top-app-bar .mdc-top-app-bar__action-item,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
    --icon-ink-color: red
}

.emailContent {
    margin: 10px
}

.emailCard {
    margin: 10px
}

#test {
    display: block;
    pointer-events: none;
    z-index: 1;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: fit-content;
    text-align: right
}

#buttonTest {
    pointer-events: auto;
    margin-right: 2em;
    margin-bottom: 2em
}

.mdc-top-app-bar .mdc-top-app-bar__action-item::after,
.mdc-top-app-bar .mdc-top-app-bar__action-item::before,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon::after,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon::before {
    background-color: var(--mdc-theme-text-primary-on-background,rgba(0,0,0,.87))
}

.mdc-top-app-bar .mdc-top-app-bar__action-item,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
    color: var(--mdc-theme-text-primary-on-background,rgba(0,0,0,.87))
}

.mdc-top-app-bar {
    background-color: #fff
}

#welcome-app {
    height:100vh;
    width:100%;
    display:flex;
}

#welcome-app-image {
    width:7.5em;
    margin:auto;
}
